<footer class="container-fluid">
  <div class="row">
    <div class="d-flex d-md-contents align-items-center justify-content-center justify-content-md-end social">
      <a class="fa fa-whatsapp fa-2x m-3 mr-4" aria-hidden="true"></a>
      <a class="fa fa-facebook fa-2x m-3 mr-4" aria-hidden="true"
        target="_blank"></a>
      <a class="fa fa-instagram fa-2x m-3 mr-4" aria-hidden="true"
        target="_blank"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <p><i class="fa fa-copyright"></i>StackRoute Times</p>
    </div>
  </div>
</footer>