mat-card{
    background: whitesmoke;
}

mat-card-title{
    font-size: x-large !important;
}

img{
    padding: 2px;
    max-height: 80vh;
    width: 45vw;
    border: 2px solid gainsboro;
}

.author{
    font-weight: normal !important;
}

.description{
    font-weight: lighter;
}

.description::first-letter{
    font-size: x-large;
    font-weight: 400;
}

.read-later{
    background: #f47541;
}

.read-later:hover{
    background: #cc3d05;
    color:whitesmoke;
}