mat-card{
    background: whitesmoke;
}

mat-card-title{
    font-size: x-large !important;
}

img{
    padding: 2px;
    height: auto;
    width: 100%;
    border: 2px solid gainsboro;
}

@media only screen and (min-width: 991px){
    img{
        max-width: 45vw;
    }
}

.author{
    font-weight: normal !important;
}

.description{
    font-weight: lighter;
}

.description::first-letter{
    font-size: x-large;
    font-weight: 400;
}

.read-later{
    background: #f47541;
}

.read-later:hover{
    background: #cc3d05;
    color:whitesmoke;
}